{% extends "base.html" %}
<title>{% block title%}Main-admin{% endblock %}</title>
 {% block content %}
<section class="flex flex-col h-screen overflow-auto">
  <nav class="flex flex-row items-center">
  <p class="flex-6 mx-10 my-10 text-xl text-black">Bienvenidos a PSYS. Esta es una aplicación para el manejo de inventario y venta de productos.</p>
    <ul class="flex-1 grid justify-items-center my-10 text-xm text-black p-1">
     {% if user.is_authenticated %}
      {% for group in user.groups.all %}
        <li> {{ group }}</li>
          {% endfor %}
        <li>Hola, {{ user.username }}.</li>
      {% endif %}  
    </ul>
    <form class="flex-1 grid justify-items-center mx-10 my-10 text-xm text-black k p-1" method="post" action="{% url "login" %}">
      {%  csrf_token %}
      <button type="submit">cerrar sesion</button>
    </form>
  </nav>
  <section class="flex gap-2 flex-wrap justify-center">
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="font-extrabold p-4 rounded-2xl"><a class="rounded-4xl p-2 text-lg font-extralight" href={% url 'sell_product' %}>Ventas  <i class="fa-solid fa-cart-plus text-green-500"></i></a></span>
    </section>
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="font-extrabold  p-4 rounded-2xl"><a class="rounded-4xl p-2 text-lg font-extralight" href={% url 'stock_products' %}>Stock <i class="fa-solid fa-boxes-stacked text-orange-800"></i></a></span>
    </section>
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="font-extrabold p-4 rounded-2xl"><a class="rounded-4xl  p-2 text-lg font-extralight" href={% url 'register_product' %}>Registrar producto <i class="fa-solid fa-plus text-blue-500"></i></a></span>
    </section>
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="font-extrabold  p-4 rounded-2xl"><a class="rounded-4xl p-2 text-lg font-extralight" href={% url 'assing_user' %}>Registrar usuario <i class="fa-solid fa-user-plus text-red-600"></i></a></span>
    </section>
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="font-extrabold   p-4 rounded-2xl "><a class="rounded-4xl p-2 text-lg font-extralight" href={% url 'list_all_sell_register'%}>Registro de ventas <i class="fa-solid fa-eye text-purple-500"></i></a></span>
    </section>
    <section class="w-[fit-content] bg-white mt-10 p-3 text-black">
      <span class="p-4 rounded-2xl font-extrabold"><a class="rounded-4xl p-2 text-lg font-extralight" href={% url 'register_client'%}>Registrar clientes <i class="fa-solid fa-address-book text-cyan-500"></i></a></span>
    </section>
  </section>
</section>
{% include "footer.html" %}
{% endblock %}
