{% extends "base.html" %} 
{% block title%}Login{% endblock %}
{% block content %}
<div class="flex flex-col items-end gap-2 flex-wrap">
  <section class="flex flex-col bg-white p-2 h-screen overflow-auto w-100">
      <form method="post" class="flex flex-col my-30 mx-5 flex-wrap">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="my-5 text-balck p-2 hover:bg-gray-200">Iniciar Sesión</button>
      </form>
      <p class="mx-5">
        Al acceder al PSYS aceptas los terminos de tratamiento de datos establecidos.
      </p>
      <a href="{% url  "app" %}" class=" mx-5  text-balck p-2 hover:bg-gray-200 grid justify-items-center">volver</a>
  </section>
</div>
{% include "footer.html" %}
{% endblock %}
