{% extends "base.html" %} 
{% block title%}Login{% endblock %}
{% load static%}
{% block content %}
<section class="flex flex-col flex-wrap ">
  <img src="{% static 'dist/img/logo.webp' %}" alt="" class="h-screen contrast-150 w-360">
    <aside class="flex flex-col bg-white absolute right-0 h-screen w-100 text-xm">
      <span class="bg-gray-200 my-20 mx-5 border border-gray-200 p-2">Por favor inicie sesion con la credenciales brindadas por el soporte.</span>
        <form method="post" class="flex flex-col mx-5 flex-wrap">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="my-10 text-balck p-2 mb-10 bg-gray-200">Iniciar Sesión</button>
        </form>
        <a href="{% url "password_change"%}" class="mx-5 text-balck p-2 mb-10 bg-gray-200 text-center">cambiar contraseña</a>
        <p class="my-10 mx-5 text-justify">Bienvenidos a PSYS. Esta es una aplicación para el manejo de inventario y venta de productos.Al acceder al PSYS aceptas los terminos de tratamiento de datos establecidos.
        </p>
        <a href="{% url  "app" %}" class=" mx-5  text-balck p-2 bg-gray-200 grid justify-items-center">volver</a>
    </aside>
</section>
{% endblock %}
