{% extends "base.html" %}

{% block content %}
<section class="rounded-2xl mx-50 my-20 grid grid-cols-1 grid-rows-3 justify-items-center items-center italic">
  <h1 class="text-red-700 text-xl p-4">
    Access Denied.. <h1 class="text-black text-xl p-4">You will return to the previous page in<span
        class="text-black text-3xl p-4" id="temporizador">5</span><span class="text-black text-xl">seconds</span>
</section>
<script>
  var tiempoRestante = {{ wait_time }};
  var temporizadorElemento = document.getElementById('temporizador');

  var intervalo = setInterval(function () {
    tiempoRestante--;
    temporizadorElemento.textContent = tiempoRestante;

    if (tiempoRestante == 0) {
      clearInterval(intervalo);
      window.history.back();
    }
  }, 800);
</script>
{% endblock %}