{% extends "base.html" %}
{% block content %}
    <h1 class="text-black text-xl p-4">Acceso denegado regresarás a la pagína anterior en <span id="temporizador"> 5</span><span> seconds </span></h1>
    <script>
      var tiempoRestante = {{wait_time}};
      var temporizadorElem

      var intervalo = setInterval(function () {
        tiempoRestante--;
        temporizadorElemento.textContent = tiempoRestante;

        if (tiempoRestante == 0) {
          clearInterval(intervalo);
          window.history.back();
        }
      }, 800);
    </script>
{% endblock %}
