{% extends "base.html" %}

{% block content %}
<h1 class="text-black text-xl p-4">Acceso denegado regresaras a la pagina anterior en <span id="temporizador"> 5 </span><span> seconds </span>
<script>
  var tiempoRestante = {{ wait_time }};
  var temporizadorElemento = document.getElementById('temporizador');

  var intervalo = setInterval(function () {
    tiempoRestante--;
    temporizadorElemento.textContent = tiempoRestante;

    if (tiempoRestante == 0) {
      clearInterval(intervalo);
      window.history.back();
    }
  }, 800);
</script>
{% endblock %}
