   |{% extends "base.html" %}
<title>{% block title %}List-products{% endblock %}</title>
{% block content %}
<nav class="mx-10 my-10 text-black p-3 absolute top-0 right-30 text-xl">
  <a href="{% url 'register_product' %}">Registrar productos/</a>
  <a href="{% url 'delete-product' %}">Eliminar productos/</a>
  <a href="{% url 'update-product' %}">Actualizar prodcutos/</a>
  <a href="{% url 'stock_products' %}">stock/</a>
  <a href="{% url 'main' %}">home</a>
</nav>
<nav class="mb-10 mx-15 my-15 text-black p-3 absolute top-0 left-30 text-xm">
  <span class="text-black">Productos totales: {{ total_products_save }}</span>
</nav>
<section
  class="mx-20 my-20 flex justify-items-center items-center bg-white w-[fit-content] h-[fit-content]">
  <table class="flex flex-col mx-20 my-30 bg-gray-100 text-black w-[fit-content] h-[fit-content]">
    <thead>
      <tr class="grid grid-cols-3 justify-items-center  bg-white text-xm text-black">
        <th>Nombre</th>
        <th class="w-50">Precio</th>
        <th class="w-100">Descripción</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr class="grid grid-cols-3 justify-items-center p-2 my-1 bg-gray-200 text-black">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
