{% extends "base.html" %}
{% block title %}Asign-user-group{% endblock %}
{% block content %}
  <nav class=" flex flex-row justify-end flex-wrap mx-10 my-10 text-black p-3 absolute top-0 right-30 text-xl">
    <a href="{% url 'list-product' %}">Productos/</a>
    <a href="{% url 'sell_product' %}">Ventas/</a>
    <a href="{% url 'delete-product' %}">Eliminar productos/</a>
    <a href="{% url 'update-product' %}">Actualizar productos/</a>
    <a href="{% url 'stock_products' %}">Stock/</a>
    <a href="{% url 'main' %}">Home</a>
  </nav>
  <div class="bg-white p-2 flex flex-col items-center flex-wrap my-40 m-10">
    <h2 class="text-black text-xm grid justify-items-center my-5 p-2">{{ title }}</h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if message.tags %}
              <li  class="{{ message.tags }}" >
            {% endif %}
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <form class=" flex flex-col items-center text-black text-xm " method="post">
        {% csrf_token %}
        {{ form}}
        <button class="bg-green-500 text-white font-extrabold w-30 my-5 p-2" type="submit"
          class="btn btn-primary">Asignar</button>
      </form>
      <hr/>
      <section class="">
        <h2 class="text-xm text-black grid justify-items-center items-center">Usuarios y sus Grupos Actuales</h2>
        <table class="flex flex-col flex-wrap mx-10 my-10  text-xm font-medium h-[fit-content] w-100  border border-gray-300" >
          <thead>
            <tr class="grid grid-cols-2 my-2 text-xm text-black font-extralight">
              <th class="">Usuario</th>
              <th class="">Grupos</th>
            </tr>
          </thead>
          <tbody class="p-4">
            {% for user_obj in users_with_groups %}
            <tr class="grid grid-cols-2 justify-items-center my-2 text-black">
                {% if user_obj.username == "francisco" %}
                <td></td>
                {% else %}
                <td>{{ user_obj.username }}</td>
                {% endif%}
                <td>
                    {% for group in user_obj.groups.all %}
                    {% if group.name == "Administrador" %}
                      <td></td>
                      {% else %}
                      <span class="badge bg-info text-dark">{{ group.name }}</span>
                      {% endif%}
                    {% empty %}
                    <small>Sin grupos</small>
                  {% endfor %}
                  </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">No hay usuarios para mostrar.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      <a href="{% url 'main' %}" class="bg-green-500 text-white w-30 my-5 p-2 text-center font-extrabold">Volver</a>
  </div>
{% endblock %}
