{% extends "base.html" %}
<title>{% block title %}delete{% endblock %}</title>
{% block content %}
<section class="h-screen flex flex-col justify-items-center items-center my-30 ">
  <nav class="mx-10 my-10 text-gray-400 p-3 absolute top-0 right-30 text-xl">
    <a href="{% url 'list-product' %}">Productos/</a>
    <a href="{% url 'register_product' %}">Registrar productos/</a>
    <a href="{% url 'update-product' %}">Actualizar productos/</a>
    <a href="{% url 'stock_products' %}">Stock/</a>
    <a href="{% url 'main' %}">Home</a>
  </nav>
  <span class="text-gray-400 text-xl">Eliminar productos</span>
  <form
    class="flex flex-row space-x-1 justify-items-center items-center text-gray-400 text-xl  bg-cyan-950 p-2 rounded-2xl bg-center"
    method="post">
    {% csrf_token %} {{ form }}
    <button class="bg-gray-400 text-cyan-950 p-2 rounded-2xl w-50" type="submit">Eliminar</button>
  </form>
  {% if messages %}
  <div id="messages" class="messages-info">
    <ul class="messages">
      {% for message in messages %}
      <span class="{{ message.tag}}">{{message}}</span>
      {% endfor %}
    </ul>
    {% endif %}
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const temporalMessage = document.getElementById('messages');
    if (temporalMessage) {
      // Show the message "Producto guarado con exito", for 5 seconds.
      setTimeout(function () {
        temporalMessage.style.display = 'none'
      }, 5000);
    }
  });
</script>
{% include "footer.html" %}
{% endblock %}
