<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>footer</title>
  </head>
  <body>
    <footer
      class="flex flex-col gap-2 text-center text-gray-300 bg-black absolute bottom-0 w-screen p-2 font-extralight"
    >
      <span
        >©Francisco Vanegas python developer Jr., Todos los derechos
        reservados.
      </span>
      <span>Tel: +573022712786</span>
      <span>Email: vanegasfrancisco415@gmail.com</span>
    </footer>
  </body>
</html>
