{% extends "base.html" %}
{% load currency_filters %}
{% load static %}
{% block content %}
{% if list_sell_products %}
<table class="flex flex-row flex-wrap justify-center items-center text-black text-xm mx-5">
  <thead class="flex flex-wrap">
    <tr class="grid grid-cols-6  p-2 justify-items-center w-300 border border-gray-400">
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Price</th>
      <th>Precio/cant.</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="flex flex-wrap my-5">
      {% for item2 in list_sell_products %}
      <tr  class="grid grid-cols-6 p-2 justify-items-center w-300 border border-gray-400">
          <td >{{ item2.idsell.datesell }}</td>
          <td >{{ item2.idproduct.name }}</td>
          <td >{{ item2.quantity }}</td>
          <td >{{ item2.priceunitaty|format_currency_cop }}</td>
          <td >{{ item2.quantity|mult:item2.priceunitaty|format_currency_cop }}</td>
          <td ><a href="{% url 'delete_sell_item' item2.idsell_product %}" class="text-black hover:text-gray-500">
                  <i class="fa-solid fa-trash-can"></i></a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
