{% extends "base.html" %}
{% load currency_filters %}
{% load static %}
{% block content %}
<table class="bg-white grid text-black text-xm">
  <thead>
      <tr class="grid grid-cols-7 grid-rows-1 justify-items-center items-center bg-whitel text-xm text-black">
          <th class="w-20">Fecha</th>
          <th class="w-20">Nombre</th>
          <th class="w-20">Cantidad</th>
          <th class="w-20">Precio</th>
          <th class="w-20">precio/cant.</th>
          <th class="w-20"></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      {% for item2 in list_sell_products %}
      <tr
          class="grid grid-cols-7 grid-rows-1 justify-items-center bg-gray-100 text-black p-2 my-1">
          <td class="w-50">{{ item2.idsell.datesell }}</td>
          <td>{{ item2.idproduct.name }}</td>
          <td>{{ item2.quantity }}</td>
          <td>{{ item2.priceunitaty|format_currency_cop }}</td>
          <td>{{ item2.quantity|mult:item2.priceunitaty|format_currency_cop }}</td>
          <td><a href="{% url 'delete_sell_item' item2.idsell_product %}" class="text-black hover:text-gray-500">
                  <i class="fa-solid fa-trash-can mx-10"></i></a>
           <td class="grid grid-cols-3">
                <input type="number" class="quantity-input" name="quantity" value="{{ item2.quantity }}">
                <button class='bg-white' id='send-quantity'>actualizar cantidad</button>
            </td>     
      </tr>
      {% endfor %}
  </tbody>
</table>
<script>
  document.addEventListener('DOMContentLoaded', () => {
  const sendQuantityBtn = document.getElementById('send-quantity');

  if (sendQuantityBtn) {
    sendQuantityBtn.addEventListener('click', () => {
      const quantityInput = document.querySelector('.quantity-input');
      const quantity = quantityInput.value;

      // Envío de la cantidad usando fetch a Django
      fetch("update_quantity/", {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
              'new_quantity': quantity
          })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Respuesta del servidor:', data);
            if (data.status === 'success') {
                alert('Cantidad actualizada correctamente');
            }
        })
        .catch((error) => {
            console.error('Error', error);
        });
    });
    } else {
        console.error("Error: Elemento con id 'send-quantity' no encontrado.");
    }
});
</script>
{% endblock %}
