{% extends "base.html" %}
<title>{% block title %}update{% endblock %}</title>
{% block content %}
<section class="h-screen flex flex-col items-center p-2  my-30">
  <nav class="mx-10 my-10 text-black p-3 absolute top-0 right-30 text-xm">
    <a href="{% url 'list-product' %}">Productos/</a>
    <a href="{% url 'register_product' %}">Registrar productos/</a>
    <a href="{% url 'sell_product' %}">Vender/</a>
    <a href="{% url 'delete-product' %}">Eliminar/</a>
    <a href="{% url 'stock_products' %}">Stock/</a>
    <a href="{% url 'main' %}">Home</a>
  </nav>
  <span class="text-black text-xm p-2 mb-10">Actualizar productos</span>
  <section class="bg-white flex flex-col items-center">
    <form method="post"
      class="flex flex-row items-center gap-2 p-2 text-xm">
      {% csrf_token %}
      {{ form }}
      <button type="submit" name="search"
        class="bg-green-500 text-white p-2">Buscar</button>
    </form>
    <form method="post"
      class="flex flex-row space-x-2 items-center my-30  p-4 text-xm mx-4">
      {% csrf_token %}
      {{ formupdate }}
      <button type="submit" name="update" class="bg-green-500 text-white p-2">Actualizar</button>
    </form>
  </section>
  {% if messages %}
  <div id="messages" class="bg-sky-900 text-3xl text-gray-400 absolute bottom-10 right-10 rounded-4xl italic p-10">
    <ul class="messages">
      {% for message in messages %}
      <span class="{{ message.tag}}">{{message}}</span>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const temporalMessage = document.getElementById('messages');
    if (temporalMessage) {
      // Show the message "Producto guarado con exito", for 10 seconds.
      setTimeout(function () {
        temporalMessage.style.display = 'none'
      }, 10000);
    }
  });
</script>
{% endblock %}
